.box-shadow() {
    box-shadow: #999 0 0 30px;
    -moz-box-shadow: #999 0 0 30px;
    -webkit-box-shadow: #999 0 0 30px;
}

body {
    margin-top: 70px;
    background-color: #eee;
}

#container {
    background-color: #fff;
    .box-shadow;
}